[defaults]
# Silenzia i warning legati alla ricerca automatica dell'interprete Python
interpreter_python = auto_silent

# Opzionale: se vuoi disattivare anche il controllo dei file .retry
retry_files_enabled = False
